<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <div class="field">
      <div class="col-md-4 col-sd-12">
        <%= f.label :first_name, :class => "control-label" %>
      </div>
      <div class="col-md-8 col-sd-12">
        <%= f.text_field :first_name, autofocus: true, :class => "form-control" %>
      </div>
    </div>

    <div class="field">
      <div class="col-md-4 col-sd-12">
        <%= f.label :last_name, :class => "control-label" %>
      </div>
      <div class="col-md-8 col-sd-12">
        <%= f.text_field :last_name, :class => "form-control" %>
      </div>
    </div>

    <div class="field">
      <div class="col-md-4 col-sd-12">
        <%= f.label :email, :class => "control-label" %>
      </div>
      <div class="col-md-8 col-sd-12">
        <%= f.email_field :email, :class => "form-control" %>
      </div>
    </div>

    <div class="field">
      <div class="col-md-4 col-sd-12">
        <%= f.label :password, :class => "control-label" %>
      </div>
      <div class="col-md-8 col-sd-12">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      </div>
    </div>

    <div class="field">
      <div class="col-md-4">
        <%= f.label :password_confirmation, :class => "control-label" %>
      </div>
      <div class="col-md-8">
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
