%table.table.table-striped
  %thead
    %th
      Article Title
    %th
      Author
  %tbody
    -articles.each do |article|
      %tr
        %td
          =link_to article.title, article_path(article.id)
        %td
          =link_to article.author.name, user_path(article.author.id)
.pagination-wrapper
  =will_paginate articles