-content_for :title, "Articles"
%h1
  Articles
-unless @index_articles.nil?
  #search-articles.pull-right
    =form_tag({:controller => "articles", :action => "index"}, {:method => "get", :class => "form-horizontal"}) do
      .form-group
        .col-md-9.col-sd-12
          .col-md-3
            =label_tag :search, "Search: ", :class => "control-label"
          .col-md-9
            =text_field_tag :search, params[:search], :id => "search", :value => params[:search], :class => "form-control"
        .col-md-3.col-sd-12
          =button_tag :name => nil, :value => "Search", :class => "btn btn-default", :id => "search-btn" do
            Search
=render partial: "article_list", :locals => {:articles => @articles}