-content_for :title, (@new ? "New Article" : @article.title)
-content_editable = "false"
-article_class = ""
-if @new
  -content_editable = "true"
  -article_class = "editable"
#article{:class => article_class}
  -if can?(:update, @article) && !@new
    =hidden_field_tag "article-edit-url", article_path(@article.id) 
    #article-edit-button.pull-right{"contenteditable" => "false"}
      =link_to "javascript:Floow.Articles.editArticle();", :class => "btn btn-default", :id => "edit-button" do 
        Edit
      =link_to "javascript:Floow.Articles.updateArticle();", :class => "btn btn-primary hidden", :id => "save-button" do
        Save
  -elsif can?(:create, @article) && @new
    =form_tag @article, {:method => "POST", :id => "new-form"} do
      =hidden_field_tag "title", ""
      =hidden_field_tag "plain_text", ""
      =hidden_field_tag "formatted_text", ""
      .pull-right{"contenteditable" => "false"}
        =link_to "javascript:Floow.Articles.newArticle();", :class => "btn btn-primary", :id => "new-button" do
          Save
  %h1#article-title{"contenteditable" => content_editable}
    =@article.title
  -unless @new
    #article-details{"contenteditable" => "false"}
      =link_to @article.author.name, user_path(@article.author.id)
      =format_date(@article.created_at)
  #wysiwyg{:class => @new ? "" : "hidden"}
    =link_to "javascript:Floow.Articles.addCode();", :class => "btn btn-default", :id => "add-code" do
      %span.glyphicon.glyphicon-console{"aria-hidden" => "true"}
      Add Code
    =link_to "javascript:Floow.Articles.addBold();", :class => "btn btn-default", :id => "add-bold" do
      %span.glyphicon.glyphicon-bold{"aria-hidden" => "true"}
      Add Bold
    =link_to "javascript:Floow.Articles.addItalic();", :class => "btn btn-default", :id => "add-italic" do
      %span.glyphicon.glyphicon-italic{"aria-hidden" => "true"}
      Add Italics
    =link_to "javascript:Floow.Articles.addHeader();", :class => "btn btn-default", :id => "add-header" do
      %span.glyphicon.glyphicon-text-height{"aria-hidden" => "true"}
      Add Header
  #article-contents{"contenteditable" => content_editable}
    =format_article(@article)