-content_for :title, @user.name + "'s articles"
%h1
  -if current_user == @user
    My Articles
  -else
    =@user.name+"'s Articles"
=render partial: "articles/article_list", :locals => {:articles => @user.articles.paginate(:page => params[:page])}