-content_for :title, "Latest Articles"
%h1
  Latest Articles
-@articles.each do |article|
  .article
    %h3
      =link_to article.title, article_path(article.id)
    .article-list-details
      =article.author.name
    .article-snippet
      =text_limit(article.plain_text, 300)