<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
  <div class ="form-group">
    <div class="field">
      <div class="col-md-4 col-sd-12">
        <%= f.label :email, :class => "control-label" %>
      </div>
      <div class="col-md-8 col-sd-12">
        <%= f.email_field :email, autofocus: true, :class => "form-control" %>
      </div>
    </div>

    <div class="field">
      <div class="col-md-4 col-sd-12">
        <%= f.label :password, :class => "control-label" %>
      </div>
      <div class="col-md-8 col-sd-12">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <div class="col-md-2 col-sd-12">
          <%= f.check_box :remember_me, :class => "form-control" %>
        </div>
        <div class="col-md-10 col-sd-12">
          <%= f.label :remember_me, :class => "control-label" %>
        </div>
      </div>
    <% end -%>
  </div>
  <div class="actions">
    <%= f.submit "Log in", :class => "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
