@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro)

.hidden
  display: none

.bold-format
  font-weight: bold
.italic-format
  font-style: italic

.code
  width: 95%
  border: 1px #EEE solid
  font-family: "Source Code Pro"
  margin: 5px auto
  .code-title
    font-family: "Open Sans"
    font-weight: bold
    width: 100%
    height: 25px
    line-height: 25px
    background-color: $dark-background
    font-family: "Montserrat", sans-serif
    color: #FFF
    padding: 0
    margin: 0
    font-size: 16px
    text-transform: uppercase
      font-weight: 400
      text-shadow: 0 1px 1px #000
      letter-spacing: 1px


.editable
  .bold-format, .italic-format, h2, #article-title, #article-contents
    border: 1px $blue-text solid
    min-height: 1em

.article
  border-bottom: 1px solid #D9D9D9
  margin: 3px
  padding: 5px
  h3
    margin: 0
#wysiwyg
  margin: 5px 0
  text-align: center
