@import url(https://fonts.googleapis.com/css?family=Montserrat)
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700)

$dark-background: #3A3A3A
$light-background: #FFF
$blue-text: #7AB9D9
$mobile-view: 975px

body, html
  font-family: "Open Sans", sans-serif
  height: 100%
  background-color: $light-background

#page-wrapper
  min-height: calc(100% - 100px)
  @media (max-width: $mobile-view)
    min-height: calc(100% - 20px) !important
  margin: 0 auto 0

header
  background-color: $dark-background
  height: 85px
  width: 100%
  font-family: "Montserrat", sans-serif
  color: #FFF
  line-height: 85px
  nav
    margin: 0 auto
    width: 100%
    max-width: 800px
    text-transform: uppercase
    font-weight: 400
    text-shadow: 0 1px 1px #000
    letter-spacing: 1px
    a
      &:link, &:visited, &:active
        color: #FFF
        text-decoration: none
      &:hover
        text-decoration: underline
        color: $blue-text

#body-wrapper
  width: 100%
  margin: 0 auto
  max-width: 975px
  #left-links
    @media (max-width: $mobile-view)
      #page-logo
        display: none
    #links-list
      @media (max-width: $mobile-view)
        width: 100%
        border-radius: 0 0 2px 2px
        text-align: center
        background-color: $dark-background
        li
          display: inline-block !important
          border-bottom: none !important
          a
            color: #FFF !important
            &:link, &:visited, &:active
              color: #FFF !important
            &:hover
              color: $blue-text !important
              text-decoration: underline !important
      list-style: none
      padding: 0
      li
        margin: 5px 0
        width: 120px
        border-bottom: 1px dashed #D4D4D4
        text-align: center
        a
          text-decoration: none
          &:link, &:visited, &:active
            color: #000
          &:hover
            color: $blue-text

.pagination-wrapper
  width: 100%
  .pagination
    display: block
    margin: 10px auto
    text-align: center
    background-color: $dark-background
    padding: 5px
    color: #FFF
    a
      &:link, &:hover, &:visited, &:active
        color: #FFF
    .current
      color: $blue-text
      font-style: normal
      font-weight: bold


footer
  background-color: $dark-background
  color: #808080
  text-align: center
  line-height: 100px
  @media (max-width: $mobile-view)
    height: 20px !important
    line-height: 20px !important
  height: 100px
  width: 100%

