!!!
%html
  %head
    %title #{content_for(:title)} - Codewiki
    %meta(http-equiv='X-UA-Compatible' content='IE=edge')
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    "application", media: :all
    = javascript_include_tag "application"
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    = yield :head 

  %body
    #page-wrapper
      %header
        %nav
          =link_to :root, :class => "navbar-brand" do
            =image_tag "floow-logo.png", :alt => "The Floow"
          %p{:align => "right"}
            -if user_signed_in?
              Welcome
              =current_user.first_name
              =link_to "Logout", destroy_user_session_path, :method => :delete
            -else
              =link_to "Login", new_user_session_path

      .flash-messages
        - flash.each do |name, msg|
          .alert.fade.in{ class: "alert-#{ name == 'notice' ? 'success' : 'danger' }" }
            %a.close{ data: { dismiss: :alert } } &times;
            = msg
      #body-wrapper.row
        #left-links.col-md-3.col-xs-12
          #page-logo
            =image_tag "floow-codewiki.png", :alt => "The Floow Code Wiki", :height => "120"
          %ul#links-list
            %li
              =link_to root_path do
                Latest Articles
            %li
              =link_to articles_path do
                Article Directory
            -if user_signed_in?
              %li
                =link_to user_path(current_user.id) do
                  My Articles
              %li
                =link_to new_article_path do
                  Write New Article



        #main-content.col-md-9.col-xs-12
          =yield
    %footer
      %p
        &copy; Shaun Smith for The Floow